# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories and cache
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
install_manifest.txt

# Qt Creator & IDEs
*.user
*.user.*
.vscode/
.idea/
.DS_Store
